@media (max-width: 1000px) {
  .input-menu {
    display: unset;
    width: 22px;
    height: 22px;
    background: url(./assets/svg/menu.svg);
    cursor: pointer;
    background-repeat: no-repeat;
  }
  .mobile {
    &:checked {
      ~ nav {
        display: unset !important;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #ffffffbe;
        backdrop-filter: blur(10px);
        z-index: 100;
        #navLinks {
          flex-direction: column;
          align-items: flex-start;
          margin: 120px auto;
          max-width: fit-content;
          li a {
            color: #220953;
          }
        }
      }
      ~ .input-menu {
        background: url(./assets/svg/close.svg);
        position: absolute;
        z-index: 101;
        right: 30%;
      }
    }
  }

  header {
    nav {
      display: none;
    }
  }

  main {
    padding-top: 40px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      text-align: center;
    }
    .hero-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      > p {
        max-width: 340px;
      }
    }

    h1 {
      max-width: 320px;
      font-size: 44px;
      span {
        transform: rotate(8deg) translateX(0px) translateY(10px);
      }
      &:after {
        right: unset;
        left: -20px;
        top: unset;
        bottom: -20px;
        transform: scale(0.75);
      }
      &:before {
        left: unset;
        right: 50px;
        bottom: -110px;
      }
    }
    .hero-data {
      span {
        font-size: 38px;
      }
    }
  }
  .influencers {
    padding-top: 60px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
      div {
        span {
          font-size: 28px;
        }
        img {
          max-width: 230px;
          width: 100%;
        }
      }
    }
    p {
      max-width: unset;
    }
  }

  .health {
    padding-top: 130px;
    text-align: center;
    .container {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;
    }
    .health-info {
      align-items: center;
      gap: 30px;
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 15px;
      }
    }
    .container {
      .health-image {
        > img {
          width: 100%;
        }
        > div:nth-child(1) {
          left: -30px;
        }
        > div:nth-child(2) {
          right: 0;
        }
        > div {
          text-align: left;
          align-items: center;
        }
        > div img {
          width: 100%;
          max-width: 48px;
        }
        p,
        span {
          font-size: 13px;
        }
      }
    }
  }

  .workout {
    padding-top: 60px;
    .container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .workout-info {
      align-items: center;
      text-align: center;
      gap: 30px;
      h2 {
        font-size: 32px;
      }
      p {
        font-size: 15px;
      }
    }
    .workout-image {
      p {
        font-size: 13px;
      }
      div:nth-child(1) {
        top: 30px;
      }
      div:nth-child(2) {
        bottom: 30px;
      }
    }
  }

  .follow-us {
    .container {
      .follow-us-content {
        justify-content: center;
        margin: 0;
        .inner-text {
          position: relative;
          padding-top: 64px;
          h2 {
            font-size: 32px;
            padding: 0 70px;
          }
          .call-to-action {
            margin-top: 24px;
          }
        }
        .first-line {
          margin-top: 0;
          margin-bottom: 10px;
          gap: 16px;
          justify-content: center;
          #yoga-1 {
            width: 140px;
          }
          #yoga-2 {
            width: 140px;
            margin-top: 80px;
          }
        }
        .second-line {
          flex-direction: column;
          padding-bottom: 64px;
          #yoga-3 {
            width: 230px;
            margin-bottom: 10px;
          }
          #yoga-4 {
            width: 230px;
            align-self: end;
          }
        }
      }
    }
  }

  .newsletter {
    .container {
      .newsletter-container {
        width: 328px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        .newsletter-content {
          width: 100%;
          h3 {
            font-size: 28px;
          }
          p {
            padding: 15px 20px;
          }
        }
        .subscribe-bar {
          flex-direction: column;
          width: 296px;
          height: 64px;
          input {
            width: 100%;
            height: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
          }
          .call-to-action {
            max-width: 296px;
            margin: 14px 0 40px 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  footer {
    .container {
      .contact-information {
        flex-direction: column;
        .yoga-container {
          padding-bottom: 40px;
          p {
            padding-top: 20px;
          }
        }
        .info-container {
          margin-left: 0;
          margin-bottom: 40px;
          h3 {
            padding-bottom: 20px;
          }
        }
      }
      .line {
        padding-top: 0;
        padding-bottom: 30px;
      }
      .footer-bottom {
        flex-direction: column;
        .blog-container {
          margin: 0 auto;
          .blog-content {
            ul li {
              padding: 10px;
            }
          }
        }
        .copyright {
          margin: 30px auto auto 32px;
          text-align: center;
        }
      }
    }
  }
}
